/* Write your CSS code here */
.blog-item-link {
  text-decoration: none;
  color: #2f4f4f;
}
.blog-item-container {
  list-style-type: none;
  display: flex;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}
.main-img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}
.blog-info {
  font-family: 'Roboto';
}
.author-info {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  gap: 10px;
}
.avatar-img {
  width: 40px;
  border-radius: 100%;
}
.topic-text {
  font-family: 'Roboto';
  color: #8e8e8e;
}
.title-text {
  color: #000000;
  font-family: 'Roboto';
}
.author-text {
  color: #2f4f4f;
  font-family: 'Roboto';
}
@media screen and (max-width: 576px), (min-width: 576px) {
  .blog-item-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 5px;
    padding: 10px;
  }
  .main-img {
    width: 100%;
  }
  .blog-info {
    font-size: 13px;
    padding-bottom: 5px;
    padding-right: 5px;
  }
  .author-info {
    font-size: 10px;
  }
  .title-text {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .blog-item-container {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 15px;
  }
  .blog-info {
    padding-bottom: 15px;
    font-size: 18px;
  }
  .main-img {
    width: 260px;
    height: 200px;
  }
  .author-info {
    font-size: 13px;
  }
  .title-text {
    font-size: 20px;
  }
}
